auth/node_modules
auth/.env_local
auth/.env
auth/now.json

database/node_modules
database/.env_local
database/.env
database/now.json

master/node_modules
master/.env_local
master/.env
master/now.json

storage/node_modules
storage/.env_local
storage/.env
storage/now.json

mail/node_modules
mail/.env_local
mail/.env
mail/now.json

testing/